<%- include('parts/header') %>
<%- include('parts/navbar') %>  

    <main class="cart m-first-section">
        <div class="container">
                     
        </div>
    </main>
   
<%- include('parts/scripts') %>
<script src="/js/cart.js"></script>    
</body>
</html>