<%- include('parts/header') %> 
<%- include('parts/navbar') %> 
    <div class="m-first-section error-page">
        <div class="container">
            <div class="err-content d-flex justify-content-center align-items-center flex-column pt-5">
                <img class="err-img" src="/images/err.png" alt="">
                <div class="err-message text-center mt-4">
                    Page is undefined
                </div>
            </div>
        </div>
    </div>
    </body>
</html>